@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

$primary: #cacaca;
$accent: #2195f2;
$white: #ffffff;

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Balsamiq Sans', Helvetica, Arial, sans-serif;

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: $primary;
    font-family: $font-family-primary;
}

.logo {
    display: flex;
    color: $accent;
    font-weight: 700;

    &-name {
        font-family: $font-family-secondary;
        font-size: 3rem;
    }

    &-icon {
        display: inline-block;
        margin-top: 0.2rem;
        margin-left: 0.5rem;
        font-size: 2.5rem !important;
        transform: rotateZ(20deg)
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kitten-carousel {
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 3rem;
    }

    &-icon {
        font-size: inherit !important;
    }
}

.kitten-search-control {
    display: flex;
    flex-direction: column;

    .choice {
        margin-top: 1.5rem;
        margin-right: 3rem;

        &-sort {
            display: flex;
        }

        &-group {
            display: flex;
            flex-direction: row;
        }

        &-container {
            margin-right: 2rem;
        }
    }
}

.kitten-search {
    margin: 0 auto;

    &-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &-card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background-color: $white;
        cursor: pointer;
        width: 20rem;
        margin-top: 2.5rem;
        margin-right: 2rem;
    }

    &-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .image {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 0.125rem 1rem;

        h4 {
            font-weight: 700;
        }

        span {
            padding-bottom: 0.5rem;
        }
    }
}
