.arrow {
    border: solid $color-primary-dark;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;

    &.left {
        transform: rotate(135deg);
    }

    &.right {
        transform: rotate(-45deg);
    }
}
