.carousel {
    margin-top: 5rem;

    &-content {
        position: relative;
        height: 400px;

        @media(max-width: $measure-m) {
            height: 300px;
        }

        @media(max-width: $measure-xxs) {
            height: 250px;
        }

        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            opacity: 0.2;
            transition: opacity .3s ease-in-out;
        }

        .active {
            img {
                opacity: 1;
                transition: transform .2s ease;

                @media(max-width: $measure-m) {
                    width: 300px;
                    height: 300px;
                }

                @media(max-width: $measure-xxs) {
                    width: 250px;
                    height: 250px;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }

        .left-side, .right-side {
            img {
                @media(max-width: $measure-xxxl) {
                    display: none;
                }
            }
        }
    }

    &-button {
        z-index: 10;
        position: absolute;
        top: 50%;

        &.left {
            right: 10%;
        }

        &.right {
            left: 10%;
        }
    }
}
