.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    &-content {
        position: relative;
        height: 400px;

        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            opacity: 0.2;
        }

        .active {
            img {
                opacity: 1;
            }
        }
    }

    &-button {
        font-size: 3rem;
        z-index: 10;
        position: absolute;
        top: 50%;

        &.left {
            right: 10%;
        }

        &.right {
            left: 10%;
        }
    }

    &-icon {
        font-size: inherit !important;
        color: $primary-dark;
    }
}
