.dashboard {
    position: absolute;
    left: 15%;

    @media(max-width: $measure-m) {
        left: 10%;
    }

    &-list {
        max-width: 80vw;
        margin-bottom: 2rem;
    }

    &-button {
        margin-bottom: 2rem;
    }
}
