.kitten-info {
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    span {
        padding-bottom: 0.5rem;
    }
}
