.logo {
    color: $color-accent;
    font-weight: 700;
    font-style: italic;

    &-name {
        font-family: $font-family-secondary;
        font-size: 3rem;
    }

    &-shadow {
        text-shadow: 4px 4px rgba(0,0,0,0.2);
    }
}
