.kitten {
    &-search {
        position: absolute;
        left: 20%;

        &-container {
            margin-top: 1.5rem;
            padding: 0.5rem 1rem;
            background-color: $white;
            border-radius: 20px;
        }

        &-list {
            max-width: 88rem;
            margin-bottom: 2rem;
        }

        &-button {
            margin-bottom: 2rem;
            position: relative;
            left: 40%;
        }
    }
}
